---
layout: default
---

{% assign minutes = content | number_of_words | divided_by: 180 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

<div class="post-header mb2">
  <h1>{{ page.title }}</h1>
  <div>
    <span class="post-meta">{{ page.date | date: "%b %-d, %Y" }}</span><br>
    {% if page.update_date %}
      <span class="post-meta">Updated: {{ page.update_date | date: "%b %-d, %Y" }}</span>
      <br>
    {% endif %}
    <span class="post-meta small">{{ minutes }} minute read</span>
  </div>
</div>

<div class="bl-separator"></div>

<article class="post-content">
  {{ content }}
</article>

{% if site.show_post_footers %}
  {% include post_footer.html %}
{% endif %}

<!-- TODO: add shared -->
<div class="marT marB">
  <div class="bl-post-tags left">
    <div class="social-share">
      <a class="social-share-element icon-twitter" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=OviliaZhang&hashtags={{ tagStr }}" target="_blank" title="Share this post on Twitter"></a>
      <a class="social-share-element" href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" target="_blank" title="Share this post on Facebook"></a>
      <a class="social-share-element" id="social-google" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share this post on Google Plus"></a>
      <a class="social-share-element" id="social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source=http%3a%2f%2fzhangwenli.com" target="_blank" title="Share this post on LinkedIn"></a>
      <a class="social-share-element" id="social-weibo" href="http://v.t.sina.com.cn/share/share.php?title=来看看+%40Ovilia允执厥中+的博文吧：{{ page.title }}&url={{ url }}" target="_blank" title="Share this post on Sina Weibo"></a>
    </div>
  </div>
  <div class="bl-post-tags right">
  {% capture tags %}
    {% for tag in page.tags %}
      {{ tag | downcase | replace:' ','*' }}
    {% endfor %}
  {% endcapture %}
  {% assign sorted_post_tags = tags | split:' ' | sort %}
  {% for sorted_tag in sorted_post_tags %}
    {% for tag in page.tags %}
      {% assign downcase_tag = tag | downcase | replace:' ','*' %}
      {% if downcase_tag == sorted_tag %}
        <a href="{{ site.baseurl }}/blog/tags/#{{ tag }}" class="bl-tag">
         {{ tag }}
        </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
  </div>
</div>
<br>
<div>
  <h3 class="comments-title">Comments</h3>
</div>
<div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'boylee1111githubio'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% if site.show_related_posts %}
  <h3 class="related-post-title">Related Posts</h3>
  {% for post in site.related_posts %}
    <div class="post ml2">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <h4 class="post-title">{{ post.title }}</h4>
        <p class="post-summary">{{ post.summary }}</p>
      </a>
    </div>
  {% endfor %}
{% endif %}
